<div [hidden]="updatingChart" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end stretch">
    <app-chipped-auto-complete-single-select fxFlex="30"
      (itemSaved)="saveForm()"
      (itemRemoved)="removeForm()"
      (selectedItemChange)="itemSelected($event)"
      [(list)]="formList"
      [selectedItem]="initialSelectedForm"></app-chipped-auto-complete-single-select>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" id="chart_div"></div>
  </div>
</div>

<div [hidden]="!updatingChart">
  <app-spinner></app-spinner>
</div>

<form fxLayout="row" fxLayoutAlign="space-between stretch" [formGroup]="formGroup" (keypress)="onEnter($event)">
  <div fxLayout="column" fxFlex="40">
    <mat-form-field >
      <mat-label><b>Base Pay</b></mat-label>
      <input id="basePay" type="number" matInput formControlName="basePay" (blur)="drawChart()" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Desired Salary</b></mat-label>
      <input id="desiredSalary" type="number" matInput formControlName="desiredSalary" (blur)="drawChart()" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Percent Production</b></mat-label>
      <input id="percentProduction" type="number" min="0" max="100" matInput formControlName="percentProduction" (blur)="drawChart()" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Static Employee Costs</b></mat-label>
      <input id="staticCosts" type="number" min="0" max="1" matInput formControlName="staticCosts" (blur)="drawChart()" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Pay Based Cost Percentage</b></mat-label>
      <input id="payAdjustedCostPercent" type="number" min="0" max="100" step="0.1" matInput formControlName="payAdjustedCostPercent" (blur)="drawChart()" (keypress)="onEnter($event)">
    </mat-form-field>
    <section class="mat-typography">
      <h4>Stop Loss</h4>
      <mat-checkbox id="stopLoss" formControlName="stopLoss"> </mat-checkbox>
    </section>
  </div>
  <div fxLayout="column" fxFlex="40">
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-form-field>
        <mat-label><b>25% loss point</b></mat-label>
        <input id="lossPoint" readonly matInput [value]="lossPoint">
      </mat-form-field>
      <mat-form-field>
        <mat-label><b>production gain point</b></mat-label>
        <input id="gainPoint" readonly matInput [value]="gainPoint">
      </mat-form-field>
    </div>
    <div *ngIf="formGroup.errors?.invalidRange && (formGroup.touched || formGroup.dirty)" class="w3-red">
      Cost to Production range is invalid.
    </div>
    <section fxLayout="row" fxLayoutAlign="center center"  class="mat-typography">
      <h4><b>Cost To Production Ranges</b></h4>
    </section>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-form-field fxLayout="column" fxFlex="20">
        <mat-label style="color:red;"><b>Unfair Low</b></mat-label>
        <input id="unfairLow" style="color:red;" type="number" matInput formControlName="unfairLow" (blur)="drawChart()" (keypress)="onEnter($event)">
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="20">
        <mat-label style="color:green;"><b>Fair Low</b></mat-label>
        <input id="fairLow" style="color:green;" type="number" matInput formControlName="fairLow" (blur)="drawChart()" (keypress)="onEnter($event)">
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="20">
        <mat-label style="color:green;"><b>Fair High</b></mat-label>
        <input id="fairHigh" style="color:green;" type="number" matInput formControlName="fairHigh" (blur)="drawChart()" (keypress)="onEnter($event)">
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="20">
        <mat-label style="color:red;"><b>Unfair High</b></mat-label>
        <input id="unfairHigh" style="color:red;" type="number" matInput formControlName="unfairHigh" (blur)="drawChart()" (keypress)="onEnter($event)">
      </mat-form-field>
    </div>
  </div>
</form>
