<div [hidden]="updatingChart" fxLayout.gt-sm="row" fxLayout="row" fxLayoutAlign="left stretch">
  <div fxLayout="column" fxFlex="100">
    <div id="chart_div"></div>
  </div>
</div>

<div [hidden]="!updatingChart">
  <app-spinner></app-spinner>
</div>

<form fxLayout.gt-sm="row" fxLayout="row" fxLayoutAlign="space-between stretch" [formGroup]="formGroup" (keypress)="onEnter($event)">
  <div fxLayout="column" fxFlex="40">
    <mat-form-field >
      <mat-label><b>Base Pay</b></mat-label>
      <input id="basePay" type="number" matInput formControlName="basePay" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Percent Production</b></mat-label>
      <input id="percentProduction" type="number" min="0" max="100" matInput formControlName="percentProduction" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Static Employee Costs</b></mat-label>
      <input id="staticCosts" type="number" min="0" max="1" matInput formControlName="staticCosts" (keypress)="onEnter($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label><b>Pay Based Cost Percentage</b></mat-label>
      <input id="payAdjustedCostPercent" type="number" min="0" max="100" step="0.1" matInput formControlName="payAdjustedCostPercent" (keypress)="onEnter($event)">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxFlex="40">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" >
      <div fxLayout="column" fxFlex="48">
        <mat-form-field fxLayout="column" fxFlex="48">
          <mat-label><b>25% loss point</b></mat-label>
          <input id="lossPoint" readonly matInput [value]="lossPoint">
        </mat-form-field>
        <section class="mat-typography">
          <h4>Stop Loss</h4>
          <mat-checkbox id="stopLoss" (change)="setStopLoss()" [(ngModel)]="stopLoss" [ngModelOptions]="{standalone: true}"> </mat-checkbox>
        </section>
      </div>
      <div fxLayout="column" fxFlex="48">
        <mat-form-field>
          <mat-label><b>production gain point</b></mat-label>
          <input id="gainPoint" readonly matInput [value]="gainPoint">
        </mat-form-field>
        <mat-form-field>
          <mat-label><b>Desired Salary</b></mat-label>
          <input id="desiredSalary" matInput [(ngModel)]="desiredSalary" [ngModelOptions]="{standalone: true}" >
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
