<div fxLayout="row">
  <mat-form-field class="chipped-single-input">
    <mat-chip-list #selectedChip>
      <mat-chip *ngIf="selectedItem != null" (removed)="removeSelection()">
        {{ selectedItem }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #singleChippedInput
        id = "single-chipped-input"
        placeholder="Create, remove, or select an item"
        [formControl]="inputControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="selectedChip">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<section fxLayout="row" fxLayoutAlign="end stretch" class="mat-typography">
  <button mat-flat-button id="single-chipped-input-save-button" color="primary" [disabled]="this.selectedItem == null" (click)="save()">Save</button>
  <button mat-flat-button id="single-chipped-input-delete-button" color="warn" [disabled]="this.selectedItem == null" (click)="delete()">Delete</button>
</section>
